/**
 * CSS for Sudoku game grid.
 * - fixed size grid for development
 * - TODO: experiment with responsive grid
 */

table.squares {
    /* max-width: 600px; */
    /* min-width: 400px; */
    width: 500px;
    border: groove 5px;
    margin: 10px;
    padding: 0;
    box-shadow: 10px 10px 5px #888888;
}

table.block,
td.block {
    border: solid 1px;
    margin: 0;
    padding: 0;
}

td.cell,
td.cell input {
    width: 51px;  /*33%;*/
    height: 51px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    font: normal 18pt Comic Sans MS,Impact,Trebuchet MS,Tahoma, sans-serif;
}

td.noinput {
    border: solid 1px;
}

td.cell {
    padding: 0;
}

td.selected,
td.selected input {
    background-color: mintcream;
    border-color: royalblue;
}
#tracker {
    margin-left: 1%;
}

#tracker .cell {
    border: inset 1px;
}